.or-line::after {
    content: '';
    display: inline-block;
    height: 1px;
    background-color: #e6e6e6;
    -webkit-box-flex: 1;
}
.or-line::before {
    content: '';
    display: inline-block;
    height: 1px;
    background-color: #e6e6e6;
    -webkit-box-flex: 1;
}